<div class="contact_wrapper">
	<%= form_for :contact, :html => {:role => "form"}, url:   contact_path do |f| %>
	<div style="text-align: center; width: 100%">
		<% if @message != nil && @message.errors.any? %>
		<div class="error_wrapper row">
			<div class="error_inner  bg-warning text-danger col-sm-4 col-sm-offset-4" >
				<ul style="text-align: left">
					<% @message.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>

		<% end %>

	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 input_wrapper">
			<span class="glyphicon glyphicon-user"></span> <span>Name:</span>
			<%= f.text_field :name%>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4 col-sm-offset-4 input_wrapper">
			<span class="glyphicon glyphicon-envelope"></span> <span>Email:</span>
			<%= f.email_field :email %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4 col-sm-offset-4 input_wrapper">
			<span>Message:</span>
			<%= f.text_area :content, :rows => '10'%>
		</div>
	</div>
	<div class="row" style="text-align: center">
		<%= f.submit 'Send', :class => 'btn btn-primary'%>
	</div>

	<% end %>
</div>
