<div class="row" style="text-align: center">
	<div class="col-sm-6 new_wrapper">
		<% unless @new_products.nil?%>

		<div class="larger">
			<img src="https://s3.amazonaws.com/primegrind/assets/new.png" alt="new items"/>
		</div>
		<div class="new_content">
			<table>
				<tbody>
					<% @new_products.each do |product| %>
					<tr>
						<td>
						<div class="img_wrapper">
							<%= image_tag product.image.url(:large) %>
						</div></td>
						<td>
						<div class="body">
							<p class="title">
								<%= product.name%>
							</p>
							<p class="med">
								<%= product.desc%>
							</p>
							<p style="text-align: right">
								<%= link_to "Quick Link>>", product_path(product), :class => 'med'%>
							</p>
						</div></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
	<div class="col-sm-3 special_wrapper">
		<% unless @special_products.nil? %>

		<div class="larger">
			<img src="https://s3.amazonaws.com/primegrind/assets/special.png" alt="special items"/>
		</div>
		<% @special_products.each do |product|%>
		<div class="special_content">
			<p class="bold">
				<%= product.name %>:
			</p>

			<div class="body">
				<p>
					<i><%= product.desc%></i> - <label>$<%unless product.product_details.nil?%><%= product.product_details.first.price%><% end %></label>
				</p>
			</div>
			<p class="bold med">
				Available 7am to 11am
			</p>
			<p>
				<%= link_to "Quick Link>>", product_path(product), :class => "med"%>
			</p>
			<div class="img_wrapper">
				<%= image_tag product.image.url(:large)%>
			</div>
		</div>
		<% end %>
		<div class="larger" style="position: relative">
			<div class="sci_wrapper">
				<img src="https://s3.amazonaws.com/primegrind/assets/scissors.jpg" alt=""/>
			</div>
			<img src="https://s3.amazonaws.com/primegrind/assets/coupon.png" id="coupon" alt="coupon"/>
		</div>
		<div class="coupon_wrapper">
			<table>
				<tbody>
					<tr>
						<td>
						<div class="img_wrapper">
							<img src="https://s3.amazonaws.com/primegrind/assets/logo.jpg"/>
						</div></td>
						<td>
						<div class="coupon_content" >
							<p>
								BUY 10 DRINKS
							</p>
							<span class="med">(any size)</span>
							<p>
								GET 1 FREE
							</p>
						</div></td>
					</tr>
				</tbody>
			</table>
			<p class="small">
				Remember to ask for our coupon card and get a stamp on it on your each visit.
			</p>
		</div>
		<% end %>

	</div>

	<div class="col-sm-3 address" style="text-align: left">

		<div class="larger" style="padding-left: 15px">
			<img src="https://s3.amazonaws.com/primegrind/assets/contact.png" alt="contact"/>
		</div>
		<div class="address_content">
			<div class="row border_bottom">
				<span class="glyphicon glyphicon-phone"></span>
				<span>213-477-5633</span>
			</div>
			<div class="row border_bottom">
				<span class="glyphicon glyphicon-envelope"></span>
				<span>primegrind@gmail.com</span>
			</div>
			<div class="row" style="display: inline-block">
				<span class="glyphicon glyphicon-home"></span>

				<span>714 W 1st street</span>

				<div style="padding-left: 30px">
					Los Angeles, Ca 90012
				</div>

				<div style="padding-left: 30px">
					<a href="https://www.google.com/maps/place/714 w 1st street,los angeles,ca 90014"
					target="_blank" style="color: darkred">get direction</a>
				</div>
			</div>
			<div class="map_wrapper row">
				<div id="map_canvas"></div>
			</div>
		</div>
	</div>
</div>
