<div class="error_wrapper" hidden>
	<div class="error_inner  bg-danger text-danger" style="width: 100%">
		<ul style="text-align: left"></ul>
	</div>
</div>
<div>
	<%= form_for(:session, url: login_path, :html => {:class => "form-horizontal", :role => "form"}) do |f|%>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<% if @error%>
			<div style="width: 100%; font-weight: normal; padding: 20px" class="error_inner bg-warning text-danger">
				<%= @error %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :email, "Email: ", :class => 'control-label col-sm-4', for: 'email'  %>
		<div class="col-sm-4">
			<%= f.email_field :email, :autofocus=>true, class: 'form-control'%>
		</div>
	</div>

	<div class="form-group" style="margin-bottom: 0">
		<%= f.label(:password, "Password: ", class: 'control-label col-sm-4', for: 'password')  %>
		<div class="col-sm-4">
			<%= f.password_field :password, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group" style="">
		<div class="col-sm-4 col-sm-offset-4" style="text-align: left">
			<%= f.label :remember_me, class: "checkbox inline" do %>
			<%= f.check_box :remember_me %>
			<span>Keep me signed in</span>
			<% end %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-4 col-sm-offset-4">
			<button type="submit" class="btn btn-primary" style="width: 100%">
				Log in
			</button>
		</div>
	</div>

	<div class="form-group" >
		<div class="col-sm-2 col-sm-offset-4" style="text-align: left">
			<p>
				New user? <%= link_to "Sign up now!", signup_path, :style => 'text-decoration: underline' %>
			</p>
		</div>
		<div class="col-sm-2" style="text-align: right">
			<p>
				<%= link_to "Forgot password?", new_password_reset_path, :style => 'text-decoration: underline' %>
			</p>
		</div>
	</div>

	<% end %>
</div>
