<div class="error_wrapper" hidden>
	<div class="error_inner  bg-danger text-danger" style="width: 100%">
		<ul style="text-align: left"></ul>
	</div>
</div>
<div>
	<%= form_for(@user, url: password_reset_path(params[:id]), :html => {:class => "form-horizontal", :role => "form"}) do |f|%>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<%= render 'shared/error_msgs', obj: @user%>
		</div>
	</div>

	<%= hidden_field_tag :email, @user.email %>
	<div class="form-group">
		<%= f.label(:password, "Password: ", class: 'control-label col-sm-4', for: 'password')  %>
		<div class="col-sm-4">
			<%= f.password_field :password, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label(:password_confirmation, "Confirmation: ", class: 'control-label col-sm-4', for: 'password')  %>
		<div class="col-sm-4">
			<%= f.password_field :password_confirmation, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-4 col-sm-offset-4">
			<%= f.submit 'Reset password', :class => 'btn btn-primary'%>
		</div>
	</div>

	<% end %>
</div>
