<div>
	<%= form_for(:password_reset, url: password_resets_path, :html => {:class => "form-horizontal", :role => "form"}) do |f|%>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<% if @error%>
			<div class="error_wrapper" >
				<div style="width: 100%; font-weight: normal" class="error_inner bg-warning text-danger">
					<%= @error %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :email, "Email: ", :class => 'control-label col-sm-4', for: 'email'  %>
		<div class="col-sm-4">
			<%= f.email_field :email, :autofocus=>true, class: 'form-control'%>
		</div>
		<div class="col-sm-4" style="text-align: left">
			<%= f.submit 'Submit', {:class => "btn btn-primary"}%>
		</div>
	</div>
	<% end %>
</div>
