<div id="div_cart">
	<% if !cart.nil? && @product_details.size != 0 %>
	<table class="table" id="tbl_cart">
		<th></th>
		<th>
		<div>
			Item
		</div></th>
		<th>
		<div>
			Size
		</div></th><th>
		<div>
			Price
		</div></th>
		<th>
		<div>
			Quantity
		</div></th>
		<th>
		<div>
			Extra Items
		</div></th>
		<th></th>
		<% @product_details.each do |detail| %>
		<tr class="item">
			<td><a href='#' data-img=<%= detail['product'].image.url %> data-toggle="modal" data-target="#imgModal" class='btn_img_detail'>
			<div class="img_wrapper">
				<%= image_tag(detail['product'].image.url)%>
			</div> </a>
			<div class="desc">
				<%= detail['product'].desc%>
			</div>
			</td>
			<td class="title"> <%= detail['product'].name %></td>
			<td class="size"><%= detail['size'] %></td>
			<td class="price">$<%= detail['detail'].price %></td>
			<td class="qty"><i><%= detail['qty'] %></i></td>
			<td>
			<table class="cart_extra">
				<% detail['extra'].each do |extra| %>
				<tr>
					<td style="text-align: left">
					<div class="checkbox">
						<label>
							<input type="checkbox"  name="ch_extra" checked="" value=<%= extra.price%>/>
							<%= extra.name %> </label>
					</div></td>
				</tr>
				<% end %>
			</table></td>
			<td>
			<div style="margin: 5px;">
				<span class="glyphicon glyphicon-remove text-danger" data-id=<%= detail["detail"].id %>></span>
			</div></td>
		</tr>
		<% end %>
	</table>
	<div class="row">
		<div class="tbl_wrapper">
			<table id='table_calc'>
				<tr>
					<td>
					<div class="right">
						Subtotal:
					</div></td>
					<td>
					<div class="left cart_subtotal">
						$<%= @subtotal%>
					</div></td>
				</tr>
				<tr>
					<td>
					<div class="right">
						Tax:
					</div></td>
					<td>
					<div class="left cart_tax" data-tax=<%= tax%>>
						$<%= @tax_total%>
					</div></td>
				</tr>
				<tr>
					<td>
					<div class="right">
						Delivery fee:
					</div></td>
					<td>
					<div class="left cart_fee">
						$<%= del_fee%>
					</div></td>
				</tr>
				<tr>
					<td>
					<div class="right">
						Total:
					</div></td>
					<td>
					<div class="left cart_total">
						$<%= @total%>
					</div></td>
				</tr>
			</table>
			<%= link_to 'Proceed to Check Out', new_user_order_path(:user_id => 0), :class => 'btn btn-primary', :style => 'width: 100%'%>
		</div>
	</div>
	<% else %>
	Cart is empty
	<% end %>
</div>

<%= render 'shared/image_modal'%>

