Hi <%= @user.name %>,

Thank you for joining PrimeGrind! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

===================================================================================
This email was sent by an automated system, so if you reply, nobody will see it.
To get in touch with us, click Contact Us