<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body style="font-family: futura-pt, Arial, Sans-Serif;">
		<div style="padding-left: 10%; padding-right: 10%; background-color: #F2F4F4; font-size: 12px; font-family: Arial, Helvetica, sans-serif; padding-top: 20px; padding-bottom: 20px;">
			<div style="padding: 20px; background-color: white; border: 1px solid #ccc; font-size: 13px">
				<div style="width: 100px">
					<a href=<%= @url%>><img src="https://s3.amazonaws.com/primegrind/assets/logo.jpg" style="width: 100px"/></a>
				</div>
				<p>
					<label style="font-weight: bold; font-size: 20px;">Welcome</label>
				</p>
				<p>
					Hi <%= @user.name %>,
				</p>

				<p>
					Thank you for joining <strong>PrimeGrind</strong>. Click on the link below to activate your account:
				</p>
				<p style="padding-top: 10px">
					<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email), :style => 'background-color: #5c96c3; padding: 5px 10px; border: 1px solid white;  color: white; text-decoration: none; font-size: 13px; ' %>
				</p>
			</div>
			<div style="text-align: center;	padding: 10px">
				<p>
					This email was sent by an automated system, so if you reply, nobody will see it.
				</p>

				<p>
					To get in touch with us, click <a href="<%= contact_url%>">Contact Us</a>.
				</p>
				Thank You, <strong>PrimeGrind</strong>
			</div>
		</div>

	</body>
</html>

