Dear <%= @user.name %>,
	
Thanks you for activating your account. You can now start your order for mouth watering food and drinks.

http://127.0.0.1:3000/

=============================================================================================
				
This email was sent by an automated system, so if you reply, nobody will see it.

To get in touch with us, click http://127.0.0.1:3000/

				