<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<style>
			img {
				width: 150px;
				border-radius: 5px;
			}
		</style>
	</head>
	<body>
		<div style="background-color: #F2F4F4; padding: 20px 10%;">
			<div style="border: 1px solid #ccc; font-family:Arial, Helvetica, sans-serif; font-size: 12px; padding: 10px; background-color: white; min-width: 600px">
				<div style="width: 100px">
					<a href=<%= @url%>><img src="https://s3.amazonaws.com/primegrind/assets/logo.jpg" style="width: 100px"/></a>
				</div>
				<div style="padding: 10px; font-size: 13px">
					<p>
						<strong style="font-size: 20px">Welcome</strong>
					</p>
					<p>
						Dear <%= @user.name %>,
					</p>

					<p>
						Thank you for activating your account. You can now start your order for mouth watering food and drinks.
					</p>
				</div>
				<div style="padding: 10px">
					<div class="menu"
					style="display: flex; flex: 6; flex-direction: row; color: gray; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px ">

						<div style="border-left: 1px solid #ccc; height: 20px">

						</div>
						
						<% @categories.each do |category|%>
						<div style="flex: 1; width: 16.7%; text-align: center; font-size: 14px">
							<%= link_to category.name, category_url(category), {:style => 'text-decoration:none; color:gray'} %>
						</div>
						<div style="border-left: 1px solid #ccc; height: 20px">

						</div>
						<% end %>
					</div>
					<div style="border: 1px solid #ccc; border-top: none; border-bottom: none; width: 100%; text-align: center; padding-top: 20px; padding-bottom: 20px">
						<div style="display: flex; flex: 3; flex-direction: row; width: 100%">
							<% @categories.each do|category|%>
							<% if category.id < 4%>
							<div style="flex: 1; width: 33%; text-align: center">
								<a href=<%= product_url(category.products.first)%> style="color: black; text-decoration: none"> <%= image_tag category.products.first.image.url(:large)%>
								<p>
									<%= category.products.first.name%>
								</p> </a>
							</div>
							<% end %>
							<% end %>
						</div>
					</div>
					<div style="border: 1px solid #ccc; border-top: none;  width: 100%; text-align: center; padding-top: 20px; padding-bottom: 20px">
						<div style="display: flex; flex: 3; flex-direction: row; width: 100%">
							<% @categories.each do|category|%>
							<% if category.id > 3%>
							<div style="flex: 1; width: 33%; text-align: center">
								<a href=<%= product_url(category.products.first)%> style="color: black; text-decoration: none"> <%= image_tag category.products.first.image.url(:large)%>
								<p>
									<%= category.products.first.name%>
								</p> </a>
							</div>
							<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<div style="background-color: #F2F4F4; text-align: center; padding: 10px">
					<p>
						This email was sent by an automated system, so if you reply, nobody will see it.
					</p>

					<p>
						To get in touch with us, click <a href="<%= contact_url%>">Contact Us</a>.
					</p>
					Thank You, <strong>PrimeGrind</strong>
				</div>

			</div>

		</div>
	</body>
</html>

