<div style="text-align: left">
	<label>Welcome, <%= @current_user.name%></label>
</div>
<div class="row" style="width: 100%">
	<div class="col-sm-5 div_border">
		<table id="info">
			<tr>
				<td>Email: </td>
				<td><%= @current_user.email %></td>
			</tr>
			<tr>
				<td>Phone: </td>
				<td><%= @phone %></td>
			</tr>
		</table>
		<div class="btn_wrapper">
			<%= link_to 'Update Profile', update_path(:id => @current_user.id), :class => 'btn bg-warning btn-sm'%>
		</div>
	</div>
</div>
<div style="text-align: left; margin-top: 10px; position: relative">
	<label><span class="glyphicon glyphicon-home"></span> Address</label>
	<a href="" data-toggle="modal" data-target="#newAddressModal" id="new_address" class="text-success"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<div class="row" style="width: 100%">

	<% @current_user.addresses.each do |address|%>
	<div class="col-sm-5 div_border">
		<h5 style="font-weight: bold"><%= address.name %></h5>

		<div>
			<%= address.address1 %>
			<%= address.address2 %>
		</div>
		<div>
			<%= address.city %>, CA
			<%= address.zip %>
		</div>
		<div style="font-weight: bold">
			<%= address.phone %>
		</div>
		<div class="btn_wrapper">
			<%= link_to 'Update', edit_user_address_path(@current_user.id, address), :class => 'btn bg-warning btn-sm update' %>
			<%= link_to 'Delete', user_address_path(@current_user.id, address), :method => :delete, :class => 'btn bg-warning btn-sm' %>
		</div>
	</div>
	<% end %>
</div>

<%= render 'addresses/new'%>
