<%= form_for :user, :html => {:class => "form-horizontal", :role => "form"}, url: user_path(@user), method: :patch do |user| %>
<div class="scrollable"></div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<%= render 'shared/error_msgs', obj: @user%>
	</div>
</div>
<div class="form-group">
	<%= user.label(:name, "Full Name:  ", class: 'control-label col-sm-4', for: 'name')  %>
	<div class="col-sm-4">
		<%= user.text_field :name, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= user.label(:password, "Password: ", class: 'control-label col-sm-4', for: 'password')  %>
	<div class="col-sm-4">
		<%= user.password_field :password, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= user.label(:password_confirmation, "Confirm Password: ", class: 'control-label col-sm-4', for: 'password_confirm')  %>
	<div class="col-sm-4">
		<%= user.password_field :password_confirmation, class: 'form-control' %>
	</div>

</div>

<div class="form-group">
	<div class="col-sm-4 col-sm-offset-4">
		<button type="submit" class="btn btn-primary btn-sm">
			Update
		</button>
		<%= link_to 'Cancel', account_path(:id => @current_user.id), :class => 'btn btn-primary btn-sm'%>
	</div>
</div>

<% end %>