<%= form_for @user, :html => {:class => "form-horizontal", :role => "form"}, url: users_path do |user| %>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<%= render 'shared/error_msgs', obj: @user%>
	</div>
</div>
<div class="form-group">
	<%= user.label :email, "Email: ", :class => 'control-label col-sm-4', for: 'email'  %>
	<div class="col-sm-4">
		<%= user.email_field :email, :autofocus => true, class: 'form-control' %>
	</div>

</div>
<div class="form-group">
	<%= user.label(:password, "Password: ", class: 'control-label col-sm-4', for: 'password')  %>
	<div class="col-sm-4">
		<%= user.password_field :password, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= user.label(:password_confirmation, "Confirm Password: ", class: 'control-label col-sm-4', for: 'password_confirm')  %>
	<div class="col-sm-4">
		<%= user.password_field :password_confirmation, class: 'form-control' %>
	</div>

</div>
<div class="form-group">
	<%= user.label(:name, "Full Name:  ", class: 'control-label col-sm-4', for: 'name')  %>
	<div class="col-sm-4">
		<%= user.text_field :name, class: 'form-control' %>
	</div>
</div>

<%= user.fields_for(@address) do |address| %>
<%= render 'addresses/address_fields', f: address, name: false %>
<% end %>

<div class="form-group" >
	<div class="col-sm-4 col-sm-offset-4" style="">
		<%= user.label :subscribe, class: "checkbox inline" do %>
		<%= user.check_box :subscribe %>
		<span>Subsribe to our mailing list</span>
		<% end %>
	</div>
</div>

<%= user.submit "Create my account", class: 'btn btn-primary' %>

<% end %>