<div class="account_wrapper">
	<div class="row account_info" style="width: 50%; min-width: 250px; padding: 5px">
		<div style="text-align: left">
			<label><span class="glyphicon glyphicon-user"></span> Welcome, <%= @current_user.name%></label>
		</div>
		<div class="div_border">
			<table id="info">
				<tr>
					<td>Email: </td>
					<td><%= @current_user.email %></td>
				</tr>
				<tr>
					<td>Phone: </td>
					<td><%= ActiveSupport::NumberHelper.number_to_phone(@phone, area_code: true) %></td>
				</tr>
			</table>
			<div class="btn_wrapper">
				<%= link_to 'Update Profile', update_path(:id => @current_user.id), :class => 'btn btn-primary btn-sm'%>
			</div>
		</div>
	</div>

	<div class="row" style="">
		<div style="text-align: left; margin-top: 10px; position: relative">
			<label><span class="glyphicon glyphicon-home"></span> Address</label>
			<%= link_to '<span class="glyphicon glyphicon-plus-sign"></span>'.html_safe, new_user_address_path(:user_id => @current_user.id), :class => 'text-primary'%>
		</div>
		<table style="width: 100%">
			<tbody>
				<% addresses = @current_user.addresses%>
				<% $i = 0 %>
				<% while $i <= addresses.size()-1 do%>
				<% address = addresses[$i]%>

				<tr>
					<td style="padding: 5px">
					<div class="div_border">
						<h5 style="font-weight: bold"><%= address.name %></h5>
						<div>
							<%= address.address1 %>
							<%= address.address2 %>
						</div>
						<div>
							<%= address.city %>, CA
							<%= address.zip %>
						</div>
						<div style="font-weight: bold">
							<%= ActiveSupport::NumberHelper.number_to_phone(address.phone, area_code: true) %>
						</div>
						<div class="btn_wrapper">
							<%= link_to 'Update', edit_user_address_path(@current_user.id, address), :class => 'btn btn-primary btn-sm update' %>
							<%= link_to 'Delete', user_address_path(@current_user.id, address), :method => :delete, :class => 'btn btn-primary btn-sm' %>
						</div>
					</div></td>

					<% unless addresses[$i+1].nil? %>
					<% address = addresses[$i+1]%>
					<% $i = $i+1%>

					<td style="padding: 5px">
					<div class="div_border">
						<h5 style="font-weight: bold"><%= address.name %></h5>
						<div>
							<%= address.address1 %>
							<%= address.address2 %>
						</div>
						<div>
							<%= address.city %>, CA
							<%= address.zip %>
						</div>
						<div style="font-weight: bold">
							<%= ActiveSupport::NumberHelper.number_to_phone(address.phone, area_code: true) %>
						</div>
						<div class="btn_wrapper">
							<%= link_to 'Update', edit_user_address_path(@current_user.id, address), :class => 'btn btn-primary btn-sm update' %>
							<%= link_to 'Delete', user_address_path(@current_user.id, address), :method => :delete, :class => 'btn btn-primary btn-sm' %>
						</div>
					</div></td>
					<% else %>
					<td style="width: 50%">
						
					</td>
					<% end %>
					<% $i += 1%>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>
