<% if obj.errors.any? %>
<div class="error_inner  bg-warning text-danger" style="width: 100%; padding-top: 20px">
	<ul style="text-align: left; font-weight: normal">
		<% obj.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
