<!-- Modal -->
<div id="imgModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<table>
					<tr>
						<td>
						<div class="img_wrapper">
							<img src="" style="width: 250px; border-radius: 5px"/>
						</div></td>
						<td>
						<div class="desc_wrapper">
							<div class="caption">
								Americano
							</div>

							<div class="body" style="padding: 5px">
								The drink consists of a single or double-shot of espresso combined with between 1 and 16 fluid ounces (30–470ml) of hot water.
							</div>

						</div></td>
					</tr>
				</table>
			</div>

		</div>

	</div>
</div>