<div class="border">
	<table class="table" id="side_cart">
		<th>
		<div>
			Item
		</div></th>
		<th>
		<div>
			Size
		</div></th>
		<th>
		<div>
			Price
		</div></th>
		<th>
		<div>
			Qty
		</div></th>
		<% order.order_details.each do |detail| %>
		<tr>
			<td style="text-align: left; min-width: 200px">
			<div style="font-weight: bold; ">
				<%= detail.product.name %>
			</div> <% detail.order_extras.each do |extra|%>
			<div class="row receipt_ext_wrapper">
				<div class="col-sm-8 col-sm-offset-2">
					<%= extra.extra_product.name%>
				</div>
				<div class="col-sm-2">
					$<%= extra.extra_product.price%>
				</div>
			</div> <% end %> </td>
			<td class="size"> <% if detail.size.nil?%>
			One Size
			<%else %>
			<%= detail.size.name %>
			<% end %></td>
			<td class="price">$<%= detail.product_detail.price %></td>
			<td><%= detail.qty %></td>
		</tr>
		<% end %>
	</table>
	<table id="tbl_calc2" >
		<tr>
			<td> Subtotal: </td>
			<td> $<%= order.subtotal %> </td>
		</tr>
		<tr>
			<td> Tax: </td>
			<td> $<%= tax_total(order.subtotal) %> </td>
		</tr>
		<tr>
			<td> Delivery Fee: </td>
			<td> $<%= del_fee %> </td>
		</tr>
		<tr>
			<td> Payment Method: </td>
			<td> <%= order.payment_type.name %> </td>
		</tr>
		<% if order.payment_type.id != 1%>
		<tr>
			<td> Transaction ID: </td>
			<td> <%= order.transaction_id %> </td>
		</tr>
		<% end %>
		<tr>
			<td> Total: </td>
			<td> $<%= order.total %> </td>
		</tr>
	</table>
</div>

