<div style="padding-left: 20%; padding-right: 20%; color: #000">
	<label class="sub_caption" style="font-size: 24px; margin-bottom: 20px">Receipt: #<%= @order.name%></label>
	<%= link_to 'Print Receipt', '', {:class => 'text-primary', :style => 'float: right;'}%>
	<table class="receipt_info">
		<tr>
			<td>
			<div>
				<%= @order.order_type.name%>
			</div></td>
			<td></td>
		</tr>

		<tr>
			<td>
			<div>
				Submitted:
			</div></td>
			<td>
			<div>
				<%= @order.created_at%>
			</div></td>
		</tr>
		<tr>
			<td>
			<div>
				Scheduled for:
			</div></td>
			<td>
			<div>
				<%= @order.schedule_date.upcase%>, <%= @order.schedule_time.upcase%>
			</div></td>
		</tr>
	</table>

	<div class="border_top">
		<div class="row">
			<div class="col-sm-6" style="border-right: 1px solid #000;">
				<div class="row">
					<label class="col-sm-3 right">From:</label>
					<div class="col-sm-9 left">
						<div>
							<%= myaddress %>,
						</div>
						<div>
							Los Angeles, CA
							<%= myzip %>
						</div>
						<div>
							<%= ActiveSupport::NumberHelper.number_to_phone(myphone, area_code: true) %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<label class="col-sm-3 right">To:</label>
				<div class="col-sm-9 left">
					<div>
						<%= @address.address1 %>
						<%= @address.address2 %>,
					</div>
					<div>
						<%= @address.city %> CA
						<%= @address.zip %>
					</div>
					<div>
						<%= ActiveSupport::NumberHelper.number_to_phone(@address.phone, area_code: true) %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render 'order_detail', order: @order%>

</div>

