<div class="orders_wrapper">
	<div class="col-sm-4 order_menu_wrapper">
		<label class='sub_caption'><%= @size%> Past Orders</label>

		<% @orders.each do |order| %>
		<div class="row order_menu" data-id=<%= order.id %> >
			<div class="col-sm-1 span_wrapper">
				<span class="glyphicon glyphicon-list-alt" style="font-size: 40px"></span>
			</div>
			<div class="col-sm-11">
				<div class="row">
					<div class="col-sm-3 left">
						Order#:
					</div>
					<div class="col-sm-9 left">
						<%= order.name %>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 left">
						Date:
					</div>
					<div class="col-sm-9 left">
						<%= get_month(order.created_at.month) %>
						<%= order.created_at.day%>,
						<%= order.created_at.year%>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 left">
						Total:
					</div>
					<div class="col-sm-9 left">
						$<%= order.total %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<%= will_paginate %>
	</div>
	<div class="col-sm-8 order_detail_wrapper">
		<% @orders.each do |order| %>
		<div class="order_detail" data-id=<%= order.id%> >
			<%= link_to 'Receipt', user_order_path(:id => order.id), {:class => 'text-primary', 'data-id' => order.id, :style => 'float: right'}%> <label class="sub_caption">Order: #<%= order.name%></label>

			<%= render 'order_detail', order: order%>
			<%= link_to 'Reorder'.html_safe, set_cart_index_path(:user_id => @current_user, :id => order), :class => 'btn btn-primary' %>
		</div>

		<% end %>
	</div>
</div>

<!-- Modal -->
<div id="receiptModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<div style="height: 10px"></div>
			</div>
			<div class="modal-body" id="content">

			</div>
		</div>

	</div>
</div>