<div class="order_wrapper">

	<% if !cart.nil?%>

	<%= form_for :order, :html => {:class => "form-horizontal", :role => "form", :id => 'new_order_form'}, url: user_orders_path(@current_user) do |f|%>
	<div class="row">
		<div class="col-sm-7 left checkout_wrapper">
			<label class="sub_caption">Check Out</label>
			<div class='border'>
				<div class="border_bottom">
					<a href="#" class="chng_address" data-toggle="modal" data-target="#addressModal" >Change Address</a>
					<%= f.hidden_field :address_id, :value => @address.id %>

					<table id="table_info">
						<tr>
							<td>
							<div class="right">
								Name:
							</div></td>
							<td>
							<div class="left" >
								<%= @current_user.name%>
							</div></td>
						</tr>
						<tr>
							<td>
							<div class="right">
								Address:
							</div></td>
							<td>
							<div class="left" >
								<div id="del_address">
									<%= @address.address1%>
									<%= @address.address2%>,
									<%= @address.city%> CA
									<%= @address.zip%>
								</div>
							</div></td>
						</tr>
						<tr>
							<td>
							<div class="right">
								Phone:
							</div></td>
							<td>
							<div class="left" >
								<%= ActiveSupport::NumberHelper.number_to_phone(@address.phone, area_code: true) %>
							</div></td>
						</tr>
					</table>
				</div>
				<div class="border_bottom">
					<h5 class="com_title">Special instructions or comments for this order:</h5>
					<div class="comment">
						<%= f.text_area :comment, :class => 'form-control'%>
					</div>
				</div>
				<div class="border_bottom">
					<div class="row del_wrapper">
						<table style="width: 100%">
							<tr>
								<td>
								<div class="row">
									<label class="col-sm-6 radio right">Order Type:</label>
									<div class="col-sm-6 left">
										<div class="radio">
											<label> <%= f.radio_button :order_type_id, 1, :checked => true%>
												Delivery
												<%= image_tag "https://s3.amazonaws.com/primegrind/assets/delivery_car.png", :alt => 'delivery'%> </label>
										</div>
										<div class="radio">
											<label> <%= f.radio_button :order_type_id, 2%>
												PickUp
												<%= image_tag "https://s3.amazonaws.com/primegrind/assets/delivery_bag.png", :alt => "pickup"%> </label>
										</div>
									</div>
								</div></td>
								<td>
								<div class="row">
									<label class="col-sm-6 right">Schedule For:</label>
									<div class="col-sm-6 left">
										<div class="form-group">
											<%= f.select :schedule_date, '' %>

										</div>
										<div class="form-group">
											<%= f.select :schedule_time, '' %>
										</div>
									</div>
								</div></td>
							</tr>
						</table>

					</div>

				</div>
				<div class="border_bottom payment_wrapper">
					<div class="row left">
						Please Select Payment Type:
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="radio_wrapper radio_active">
								<p>
									<%= image_tag "https://s3.amazonaws.com/primegrind/assets/icon_cash.png", :alt => 'cash'%>
								</p>
								<span>Cash</span>
								<p>
									<%= f.radio_button :payment_type_id, 1, :checked => true%>
								</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="radio_wrapper">
								<p>
									<%= image_tag "https://s3.amazonaws.com/primegrind/assets/icon_creditcard.png", :alt => "credit card"%>
								</p>
								<span>Credit Card</span>
								<p>
									<%= f.radio_button :payment_type_id, 2 %>
								</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="radio_wrapper">
								<p>
									<%= image_tag "https://s3.amazonaws.com/primegrind/assets/icon_paypal.png", :alt => "paypal"%>
								</p>
								<span>Paypal</span>
								<p>
									<%= f.radio_button :payment_type_id, 3 %>
								</p>
							</div>
						</div>
					</div>

				</div>
				<div class="card_wrapper border_bottom">
					<div class="row">
						<%=form_for(:card, :html => {:class => "form-horizontal", :role => "form"}) do |f|%>
						<div class="form-group ">
							<%= f.label :first_name, 'First Name:', for: 'first_name', :class => 'col-sm-4', :style => 'text-align: right'%>
							<div class="col-sm-4" style="text-align: left;">
								<%= f.text_field :first_name, :class => 'form-control'%>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :last_name, 'Last Name:', for: 'last_name', :class => 'col-sm-4', :style => 'text-align: right'%>
							<div class="col-sm-4" style="text-align: left;">
								<%= f.text_field :last_name, :class => 'form-control'%>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :card_type, 'Card Type:', for: 'card_type', :class => 'col-sm-4', :style => 'text-align: right'%>
							<div class="col-sm-4" style="text-align: left">
								<%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], {}, {:class => 'form-control'}%>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :card_number, 'Card Number:', for: 'card_number', :class => 'col-sm-4', :style => 'text-align: right'%>
							<div class="col-sm-4" style="text-align: left;">
								<%= f.text_field :card_number, :class => 'form-control', :placeholder => 'xxxx-xxxx-xxxx-xxxx', :autocomplete => "off" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :card_verification, 'Card Verification Value (CVV)', for: 'card_verification', :class => 'col-sm-4', :Style => 'text-align: right'%>
							<div class="col-sm-4">
								<%= f.text_field :card_verification, :class => 'form-control', :placeholder => 'xxx', :autocomplete => "off" %>
							</div>
						</div>
						<div class="form-group card">
							<%= f.label :card_expires_on, for: 'card_expires_on', :class => 'col-sm-4', :style => 'text-align: right'%>
							<div class="col-sm-4">
								<%= f.date_select :card_expires_on, {discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+10), add_month_numbers: true}, {:class => 'form-control'}%>
							</div>
						</div>
						<% end %>

					</div>
				</div>
				<div class="border_bottom right" style="padding: 10px">
					<%= f.hidden_field :subtotal, :value => @subtotal %>
					<%= f.hidden_field :total, :value => @total %>
					<label>Total: $<%= @total%></label>
				</div>
				<div style="padding: 10px;">
					<%= link_to 'Submit Order', '#', :class => 'btn btn-primary submit_order', :onclick => "$('#new_order_form').submit()" %>
				</div>

			</div>
		</div>
		<div class="col-sm-5 left order_wrapper">
			<label class="sub_caption">Your Order</label>
			<div class="border">
				<table class="table" id="side_cart">
					<th>
					<div>
						Item
					</div></th>
					<th>
					<div>
						Size
					</div></th>
					<th>
					<div>
						Price
					</div></th>
					<th>
					<div>
						Qty
					</div></th>
					<% @product_details.each do |detail| %>
					<tr>
						<td>
						<div class="title">
							<%= detail['product'].name %>
						</div> <% detail['extra'].each do |extra|%>
						<div class="row ext_wrapper">
							<div class="col-sm-6 col-sm-offset-2">
								<%= ExtraProduct.find(extra).name%>
							</div>
							<div class="col-sm-4">
								$<%= ExtraProduct.find(extra).price%>
							</div>
						</div> <% end %> </td>
						<td class="size"><%= detail['size'] %></td>
						<td class="price">$<%= detail['detail'].price %></td>
						<td><%= detail['qty'] %></td>
					</tr>
					<% end %>
				</table>
				<table id="tbl_calc2" class="bg-info">
					<tr>
						<td> Subtotal: </td>
						<td> $<%= @subtotal %> </td>
					</tr>
					<tr>
						<td> Tax: </td>
						<td> $<%= tax_total(@subtotal) %> </td>
					</tr>

					<tr>
						<td> Delivery Fee: </td>
						<td> $<%= @del_fee %> </td>
					</tr>
					<tr>
						<td> Total: </td>
						<td> $<%= @total %> </td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>
</div>

<!-- Modal -->
<div id="addressModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<div style="margin: 5px">
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
				</div>
				<div style="margin-top: 40px">
					<select class="form-control">
						<%= @addresses.each do |address| %>
						<option value=<%= address.id %>> <%= address.address1 %>
							<%= address.address2 %>,
							<%= address.city %>
							<%= address.zip %> </option>
						<% end %>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">
					Ok
				</button>
			</div>
		</div>

	</div>
</div>

