<div class="print_wrapper">
	<a href="#" class="text-primary" onclick="window.print();return false;"><span class="glyphicon glyphicon-print"></span> Print Receipt</a>
</div>
<div class="receipt_wrapper">
	<div class="bg-white">
		<label class="sub_caption">Receipt: #<%= @order.name%></label>
		<table class="receipt_info">
			<tr>
				<td>
				<div>
					<%= @order.order_type.name%>
				</div></td>
				<td></td>
			</tr>

			<tr>
				<td>
				<div>
					Submitted:
				</div></td>
				<td>
				<div>
					<%= @order.created_at%>
				</div></td>
			</tr>
			<tr>
				<td>
				<div>
					Scheduled for:
				</div></td>
				<td>
				<div>
					<%= @order.schedule_date.upcase%>, <%= @order.schedule_time.upcase%>
				</div></td>
			</tr>
		</table>

		<div class="address_wrapper">
			<table>
				<tr>
					<td>
					<div class="row">
						<label class="col-sm-3 right">From:</label>
						<div class="col-sm-9 left">
							<div>
								<%= myaddress %>,
							</div>
							<div>
								Los Angeles, CA
								<%= myzip %>
							</div>
							<div>
								<%= ActiveSupport::NumberHelper.number_to_phone(myphone, area_code: true) %>
							</div>
						</div>
					</div></td>
					<td>
					<div class="row">
						<label class="col-sm-3 right">To:</label>
						<div class="col-sm-9 left">
							<div>
								<%= @address.address1 %>
								<%= @address.address2 %>,
							</div>
							<div>
								<%= @address.city %> CA
								<%= @address.zip %>
							</div>
							<div>
								<%= ActiveSupport::NumberHelper.number_to_phone(@address.phone, area_code: true) %>
							</div>
						</div>
					</div></td>
				</tr>
			</table>
		</div>
		<%= render 'order_detail', order: @order%>
	</div>
</div>

