You have received your order.

Receipt: #<%= @order.name%>

=============================================================================
<%= @order.order_type.name%> Order
=============================================================================

Submitted:		<%= @order.created_at.time %>

Scheduled for:		<%= @order.schedule_date.upcase%>, <%= @order.schedule_time.upcase%>

=============================================================================
Order Information:
=============================================================================
<% @order.order_details.each do |detail| %>

Item: 			<%= detail.product.name %>
Size:			<% if detail.size.nil?%>One Size<%else %><%= detail.size.name %><% end %>
Qty:			<%= detail.qty %>
Price:			$<%= detail.product_detail.price %>
<% end %>
=============================================================================
Subtotal:		$<%= @order.subtotal %>
Tax:			$<%= tax_total(@order.subtotal) %>
Delivery fee:		$<%= del_fee %>
Total:			$<%= @order.total %>
Payment Method:		<%= @order.payment_type.name %>
=============================================================================
From:			<%= myaddress %>, 
			Los Angeles, CA <%= myzip %>
			<%= myphone %>

To:			<%= @address.address1 %> <%= @address.address2 %>,
			<%= @address.city %> CA	<%= @address.zip %>
			<%= @address.phone %>
=============================================================================		
