Thank you <%= @user.name%>,

We have received your order.
Your food's about to get cooking. Now sit back, relax and get ready to enjoy.

Receipt: #<%= @order.name%>

=============================================================================
<%= @order.order_type.name%> Order
=============================================================================

Submitted:		<%= @order.created_at.time %>

Scheduled for:		<%= @order.schedule_date.upcase%>, <%= @order.schedule_time.upcase%>

=============================================================================
Order Information:
=============================================================================
<% @order.order_details.each do |detail| %>

Item: 			<%= detail.product.name %>
Size:			<% if detail.size.nil?%>One Size<%else %><%= detail.size.name %><% end %>
Qty:			<%= detail.qty %>
Price:			$<%= detail.product_detail.price %>
<% end %>
=============================================================================
Subtotal:		$<%= @order.subtotal %>
Tax:			$<%= tax_total(@order.subtotal) %>
Delivery fee:		$<%= del_fee %>
Total:			$<%= @order.total %>
Payment Method:		<%= @order.payment_type.name %>
=============================================================================
From:			<%= myaddress %>, 
			Los Angeles, CA <%= myzip %>
			<%= myphone %>

To:			<%= @address.address1 %> <%= @address.address2 %>,
			<%= @address.city %> CA	<%= @address.zip %>
			<%= @address.phone %>
=============================================================================		
Forgot something? Need to make changes? We got your back.
			
			
This email was sent by an automated system, so if you reply, nobody will see it.
To get in touch with us, click <a href="">Contact Us</a>.
	
Thank You, PrimeGrind
