<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<div style="font-family:Arial, Helvetica, sans-serif; font-size: 12px; background-color: #F2F4F4; padding-left: 10%; padding-right: 10%; padding-top: 20px; padding-bottom: 20px;">
			<div style="background-color: #fff; padding: 10px; border: 1px solid #ccc">
				<div style="width: 100px">
					<a href=<%= @url%>><img src="https://s3.amazonaws.com/primegrind/assets/logo.jpg" style="width: 100px"/></a>
				</div>
				<div style="text-align: left; padding: 10px; font-size: 13px">
					<p>
						Thank you <%= @user.name%>,
					</p>

					<p>
						We have received your order. Your food's about to get cooking. Now sit back, relax and get ready to
						enjoy.
					</p>
				</div>
				<div  style="padding: 10px; text-align: center">
					<label style="font-size: 20px; font-weight: bold;">Receipt: #<%= @order.name%></label>
				</div>
				<div style="border: 1px solid #ccc; padding: 10px">
					<div style="background-color: #ccc; padding: 5px; font-weight: bold; font-size: 16px">
						<%= @order.order_type.name%> Order
					</div>
					<div style="display: flex; flex: 1; flex-direction: row;">
						<div style="flex: 1; width: 50%; padding: 10px; text-align: left; color: gray;">
							Submitted:
						</div>
						<div style="flex: 1; width: 50%; padding: 10px; text-align: right; font-weight: bold;">
							<%= @order.created_at.time %>
						</div>
					</div>
					<div style="display: flex; flex: 1; flex-direction: row;">
						<div style="flex: 1; width: 50%;  padding: 10px; text-align: left; color: gray;">
							Scheduled for:
						</div>
						<div style="flex: 1; width: 50%; text-align: right; font-weight: bold; padding: 10px">
							<%= @order.schedule_date.upcase%>, <%= @order.schedule_time.upcase%>
						</div>
					</div>
					<div style="background-color: #ccc; padding: 5px; font-weight: bold; font-size: 16px">
						Order Information
					</div>
					<div style="padding-left: 5px; padding-right: 5px; ">
						<div style="display: flex; flex: 1; flex-direction: row; width: 100%; ">
							<div style="flex: 2; width: 40%; text-align: left; color: gray; ">
								Item
							</div>
							<div style="flex: 1; width: 20%; text-align: right; color: gray; ">
								Size
							</div>
							<div style="flex: 1; width: 20%; text-align: right; color: gray; ">
								Qty
							</div>
							<div style="flex: 1; width: 20%; text-align: right; color: gray; ">
								Price
							</div>
						</div>
					</div>

					<div class="item" style="margin: 5px; padding-left: 5px; padding-right: 5px; ">
						<% @order.order_details.each do |detail| %>
						<div style="display: flex; flex: 1; flex-direction: row; width: 100%;  border-bottom: 1px solid #ccc; ">
							<div style="flex: 2; width: 40%; text-align: left; padding-bottom: 10px; padding-top: 10px">
								<div style="font-weight: bold; font-size: 14px">
									<%= detail.product.name %>
								</div>
								<% detail.order_extras.each do |extra|%>
								<div style="display: flex; flex: 6; font-size: 10px; min-width: 200px">
									<div style="flex: 1; min-width: 20px"></div>
									<div style="flex: 4; width: 40%">
										<%= extra.extra_product.name%>
									</div>
									<div style="flex: 1; text-align: right; width: 20%">
										$<%= extra.extra_product.price%>
									</div>
								</div>
								<% end %>
							</div>
							<div style="flex: 1; width: 20%; text-align: right; padding-bottom: 10px; padding-top: 10px">
								<% if detail.size.nil?%>
								One Size
								<%else %>
								<%= detail.size.name %>
								<% end %>
							</div>
							<div style="flex: 1; width: 20%; text-align: right; padding-bottom: 10px; padding-top: 10px">
								<%= detail.qty %>
							</div>
							<div style="flex: 1; width: 20%; text-align: right; padding-bottom: 10px; padding-top: 10px">
								$<%= detail.product_detail.price %>
							</div>
						</div>
						<% end %>
					</div>
					<div style="background-color: #F2F4F4; padding-left: 5px; padding-right: 5px; margin-bottom:  10px">
						<div style="display: flex; flex: 1; flex-direction: row; width: 100%;">
							<div style="flex: 1; width: 70%; text-align: right; color: gray; padding-bottom: 5px">
								Subtotal:
							</div>
							<div style="flex: 1; width: 30%; text-align: right; font-weight: bold; padding-bottom: 10px">
								$<%= @order.subtotal %>
							</div>
						</div>
						<div style="display: flex; flex: 1; flex-direction: row; width: 100%;">
							<div style="flex: 1; width: 70%; text-align: right; color: gray; padding-bottom: 10px">
								Tax:
							</div>
							<div style="flex: 1; width: 30%; text-align: right; font-weight: bold; padding-bottom: 10px">
								$<%= tax_total(@order.subtotal) %>
							</div>
						</div>
						<div style="display: flex; flex: 1; flex-direction: row; width: 100%;">
							<div style="flex: 1; width: 70%; text-align: right; color: gray; padding-bottom: 10px">
								Delivery fee:
							</div>
							<div style="flex: 1; width: 30%; text-align: right; font-weight: bold; padding-bottom: 10px">
								$<%= del_fee %>
							</div>
						</div>
						<div style="display: flex; flex: 1; flex-direction: row; width: 100%;">
							<div style="flex: 1; width: 70%; text-align: right; color: gray; padding-bottom: 5px">
								Payment Method:
							</div>
							<div style="flex: 1; width: 30%; text-align: right; font-weight: bold;">
								<%= @order.payment_type.name %>
							</div>
						</div>
						<% if @order.payment_type.id != 1%>

						<div style="display: flex; flex: 1; flex-direction: row; width: 100%;">
							<div style="flex: 1; width: 70%; text-align: right; color: gray; padding-bottom: 5px">
								Transaction ID:
							</div>
							<div style="flex: 1; width: 30%; text-align: right; font-weight: bold;">
								<% if @order.payment_type.id == 2%>
								<%= @order.card.card_transaction.params["transaction_id"] %>
								<% else %>
								<%= @order.transaction_id %>
								<% end %>
							</div>
						</div>
						<% end %>
						<div style="display: flex; flex: 1; flex-direction: row; width: 100%; border-bottom: 1px solid #ccc;">
							<div style="flex: 1; width: 70%; text-align: right; color: gray; padding-bottom: 10px">
								Total:
							</div>
							<div style="flex: 1; width: 30%; text-align: right; font-weight: bold; padding-bottom: 10px">
								$<%= @order.total %>
							</div>
						</div>
					</div>
					<div style="display: flex; flex: 1; flex-direction: row; width: 100%; padding-top: 10px">
						<div style="flex: 1; width: 50%; border-right: 1px solid #ccc;">
							<div style="display: flex; flex: 1; flex-direction: row;">
								<label style="flex: 1; width: 20%; text-align: right; font-weight: bold; padding-right: 10px;">From:</label>

								<div style="flex: 4; width: 80%; text-align: left; color: gray;">
									<div>
										<%= myaddress %>,
									</div>
									<div>
										Los Angeles, CA
										<%= myzip %>
									</div>
									<div>
										<%= ActiveSupport::NumberHelper.number_to_phone(myphone, area_code: true) %>
									</div>
								</div>
							</div>
						</div>
						<div style="flex: 1; width: 50%;">
							<div style="display: flex; flex: 1; flex-direction: row; ">
								<label style="flex: 1; width: 20%; text-align: right; font-weight: bold; padding-right: 10px">To:</label>

								<div style="flex: 4; width: 80%; text-align: left; color: gray;">
									<div>
										<%= @address.address1 %>
										<%= @address.address2 %>,
									</div>
									<div>
										<%= @address.city %> CA
										<%= @address.zip %>
									</div>
									<div>
										<%= ActiveSupport::NumberHelper.number_to_phone(@address.phone, area_code: true) %>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="contact" style="padding: 20px; padding-top: 30px;  text-align: center; font-size: 14px">
					Forgot something? Need to make changes? We got your back.
					<a href='<%= contact_url%>' style="background-color: #5c96c3 ; padding: 5px 10px; border: 1px solid white; color: white; text-decoration: none; font-size: 13px; ">Contact Us</a>
				</div>

			</div>
			<div style="background-color: #F2F4F4; padding: 10px; text-align: center">
				<p>
					This email was sent by an automated system, so if you reply, nobody will see it.
				</p>

				<p>
					To get in touch with us, click <a href="<%= contact_url%>">Contact Us</a>.
				</p>
				Thank You, <strong>PrimeGrind</strong>
			</div>
		</div>

	</body>
</html>
