<div id="div_wrap_1">
	<div class="form-group">
		<%= f.label(:address1, "Address: ", class: 'control-label col-sm-4', for: 'address1')  %>
		<div class="col-sm-4">
			<%= f.text_field :address1, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">

		<%= f.label(:address2, "Address(optional): ", class: 'control-label col-sm-4', for: 'address2')  %>
		<div class="col-sm-4">
			<%= f.text_field :address2,  class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label(:city, "City: ", class: 'control-label col-sm-4', for: 'city')  %>
		<div class="col-sm-4">
			<%= f.text_field :city, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label(:zip, "Zip Code: ", class: 'control-label col-sm-4', for: 'zip')  %>
		<div class="col-sm-4">
			<%= f.number_field :zip,  class: 'form-control' %>
		</div>
	</div>
</div>

<div id="div_wrap_2">

	<% if name %>
	<div class="form-group">
		<%= f.label(:name, "Name: ", class: 'control-label col-sm-4', for: 'name')  %>
		<div class="col-sm-4">
			<%= f.text_field :name, class: 'form-control' %>
		</div>
	</div>
	<% end %>

	<div class="form-group">
		<%= f.label(:phone, "Phone: ", class: 'control-label col-sm-4', for: 'phone')  %>
		<div class="col-sm-4">
			<%= f.telephone_field :phone, class: 'form-control' %>
		</div>
	</div>

</div>
