<%= form_for([@user, @address], :html => {:class => "form-horizontal", :role => "form"}) do |address| %>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<%= render 'shared/error_msgs', obj: @address %>
	</div>
</div>
<%= render partial: 'addresses/address_fields', locals: {f: address, name: true} %>
<%= address.submit "Update", class: 'btn btn-primary btn-sm' %>
<%= link_to 'Cancel', account_path(:id => @current_user.id), :class => 'btn btn-primary btn-sm'%>

<% end %>
