<%= form_for :address, :html => {:class => "form-horizontal", :role => "form", :id => 'new_address_form'}, url: user_addresses_path(@current_user) do |address| %>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<%= render 'shared/error_msgs', obj: @address %>
	</div>
</div>
<%= render '/addresses/address_fields', {f: address, name: true} %>

<%= address.submit "Submit", class: 'btn btn-primary btn-sm' %>
<%= link_to 'Cancel', account_path(:id => @current_user), :class => 'btn btn-primary btn-sm' %>
<% end %>
