/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fancybox
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: navfont;
  src: url("RecordaScript_Personal_Use_Only.ttf");
}

@font-face {
  font-family: menufont;
  src: url("riesling.ttf");
}


$mygray: #616161;

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: futura-pt, Arial, Sans-Serif;
  min-width: 900px;  
  background-color: black;
}
.transparent {
     background-color: rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0.8);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
     filter: alpha(opacity=90);
     -moz-opacity:0.8;
     -khtml-opacity: 0.9;
}

.row {
  margin: 0;
  padding: 0;
}

.menu_wrapper {
  background: url("https://s3.amazonaws.com/primegrind/assets/bg.jpg") no-repeat;
  background-size: 100%;

  & .menu {
      padding-left: 0px;
      width: 250px;
      padding: 0px!important;      
         
      .logo {
        background-color: transparent;
        text-align: center;
        margin-bottom: 30px;        
      
        img {
          width: 100px;
          padding-top: 10px;
        }       
      }
      .ul_wrapper {      
         border-bottom-right-radius: 100px;
         min-height: 300px;
         padding-bottom: 0px;
         margin-bottom: 0px;
         padding-bottom: 10px;
         
         ul {
           margin: 0px;                    
          & li {
            list-style: none;
            padding-top: px;
            padding-left: 20px;
            
            img {
              width: 135px;
              margin-top: 0px;
              margin-bottom: 20px;
            }
      
            & a {
              color: black;
              font-family: menufont;
              font-size: 20px;
              font-weight: bold;
    
      
              &:hover, &:active, &:focus {
                color: darkred;
                text-decoration: none;
              }
              & span {
                margin-right: 10px;
                font-size: 14px;
              }
            }
      
            &:not(:first-child) span {
              
            }
          }
          
          .link_active  {
              font-weight: bold;
              color: darkred!important;
          }    
        }   
      }    
    }
    
    .right_side {
      display: inline-block; width: 100%;   vertical-align: top;      
      padding: 0; margin-right: 0px;
      width: 100%;
      .logo {
        position: absolute;
        width: 160px;
        height: 120px;
        text-align: center;
        left: 0px;       
      
        img {
          width: 100%;
          padding-top: 40px;
        }
      }
      .social {
        position: absolute;
        right: 0px;
        top: 10px;
        width: 80px;
        display: inline-block;
      
        .wrapper {
           background-color: rgb(255, 255, 255);
           background-color: rgba(255, 255, 255, 0.6);            
           -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
           filter: alpha(opacity=60);
           -moz-opacity:0.6;
           -khtml-opacity: 0.6;          
            border: 5px solid transparent;
            border-radius: 20px;
            width: 35px;
            height: 35px;
          & .item {
            background-color: darkred;
            width: 25px;
            height: 25px;
            padding: 3px;
            border-radius: 20px;
            margin-right: 10px;          
        
            & label:hover {
              cursor: pointer;
            }
          }
        }

      }
      .td_top {
        background-color: black;
        width: 100%;
        padding: 5px;

       .top_wrapper {
          width: 100%;          
          padding-left: 0px!important;
          text-align: center;
   
          & a {
            color: white;
            font-size: 10px;
            font-weight: bold;
            white-space: nowrap;
          }
        
          & span {
            padding-right: 5px;
          }
        
          & .link {
            padding-left: 10px;
            padding-right: 10px;
            span {
              font-weight: bold;
            }
            & .dropdown-toggle {
              font-size: 10px;
              font-weight: bold;      
            }
            
            ul {
              list-style: none;
              background-color: #000;
              padding: 0;
              margin: 0;
              & li a {
                font-size: 12px;
              }
              ul li a:hover {
                color: black;
              }
              .dropdown-menu {
                span {
                  font-weight: normal!important;      
                }
              }
            }
          }
          .menu_active {
            span {
              text-decoration: underline;
            }
          }
        } 
      }
      
      .title_wrapper {
        width: 100%;        
        text-align: left; 
        padding-top: 20px;
        img {
          width: 250px;
        }       
      }
      .account {
        text-align: right;
        padding-right: 10px;  
        list-style: none;    
        ul {
         margin: 0;
          li {
            list-style: none;
          }
          & ul {
            position: absolute;
            left: 80%;
          }
        } 
      }
    }
  }

.search_wrapper {
  position: absolute;
  padding: 15px;
  text-align: center;
  width: 350px;
  
  & > div {
    text-align: left;
    padding: 5px;
    background-color: white;
    border: 1px solid lightgray;
  }

  & input {
    width: 240px;
    outline: none;
    border: none;
  }
  & button {
    width: 60px;
    border: none;
    outline: none;
    background-color: white;
    white-space: nowrap;
  }
}
.header {
  table {
    width: 100%;
    .layer_bottom {
      width: 100px;
    }
    #header_td {
      width: 100%;
            
      .header_wrapper {
        width: 100%;
        text-align: center;
        padding: 5px;
        padding-bottom: 0px;
        background-color: black;
        
        .caption {
          background-color: transparent;
          padding: 5px; color: White; font-size: 20px!important; font-weight: bold;
          text-decoration: underline;
          white-space: nowrap;
         } 
         
         & .cart_link {
          text-align: right;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 13px;
          
          & > ul {
            margin-bottom: 0!important;
          }    
         
          .n_wrapper{
            color: white;
          }   
          
          .mycart:hover, .mycart:focus, .mycart:active {
            text-decoration: underline;
            label {
              text-decoration: underline;
            }     
          }
          & > ul > li {
            list-style: none;
            & > a {
              color: white;
            }
          }
       
          .dropdown-menu {
            width: 280px;
            
            li{
              padding: 5px;
            }
          }
          .cart_dropdown {
            .pg_wrapper {
              width: 270px;
              text-align: center;
            }
            #cart_dropdown {
              width: 100%;
      
              td:first-child {
                border-left: 1px solid lightgrey;
              }
              td:last-child {
                border-right: 1px solid lightgrey;
              }
              td {
                width: 120px;
                min-width: 120px;
                padding: 5px;
                margin: 5px;
                border-top: 1px solid lightgrey;          
                border-bottom: 1px solid lightgrey;
      
                & .img_wrapper {
                  text-align: center;
                  & img {
                    border: 1px solid lightgrey;
                    width: 100px;
                    height: 80px;
                  }
                }
                .title {
                  font-size: 13px; font-weight: bold;
                  margin-bottom: 10px;
                }
                .size, .qty {
                  font-size: 12px; color: $mygray;
                }
                .price {
                  font-size: 12px;
                  font-weight: bold;
                }
                .extra {
                  padding-top: 10px; color: #616161; font-size: 11px;
                }
                & > div {
                  width: 100%;
                  text-align: left;
                  min-width: 120px!important;
               }
               & .btn_wrapper {
                 text-align: center;
                 .btn {
                   width: 100%;
                 }
               }
               .total{
                 color: black;
                 text-align: right;
                 font-weight: bold;
               }
             }        
            }
          }
        }
      }
    }
  }
}

.content {
  min-height: 450px;
  padding-bottom: 20px;
  text-align: center;
  background-imaGE: URL("https://s3.amazonaws.com/primegrind/assets/pattern_bg.jpg");
  border-bottom: 1px solid lightgray;
}

.bottom {
  background-color: black;
  color: #616161;
  font-size: 12px;
  padding: 30px 10px 10px;

  & > div:first-child {
    padding-bottom: 30px;
  }

  & img {
    width: 200px;
    padding: 10px;
  }
}

a:focus {
  outline: none;
}

.line {
  color: gray;
  margin-right: 10px;
}


.larger {
  font-size: 24px;
  font-weight: bold;
}

.border-right {
  border-right: 1px solid lightgray;
}

.dark {
  color: $mygray;
}

.border_bottom {
  border-bottom: 1px solid lightgray;
}

.white {
  color: white;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.color {
  color: darkred;
}

.absolute {
  position: absolute;
}

.line {
  color: gray;
  margin-right: 10px;
}

.dark {
  color: #616161;
}

.border_bottom {
  border-bottom: 1px solid lightgray;
}

.white {
  color: white;
}

.center {
  text-align: center!important;
}

.bold {
  font-weight: bold;
}

.color {
  color: darkred;
}

.absolute {
  position: absolute;
}

.small {
  font-size: 12px;
}

.med {
  font-size: 13px;
}

.flash_style {
  padding: 10px; padding-top: 15px; text-align: center;
}

#copyright {
  border-top: 1px solid $mygray; padding: 10px;
}

.layer_top {
  width: 100px; height: 100px;
}

.layer_sm {
  background-color: black;
  img {
    width: 30px;
  }
}

.padding_top {
  padding-top: 40px;
}

.no_padding_top {
  padding-top: 0px;
}

.padding_left {
  padding-left: 28%;
}

.no_padding_left {
  padding-left: 0px;
}

.margin_right {
  margin-right: 100px;
}

.no_margin_right {
  margin-right: 0px;
}

.absolute_right {
  right: 0px;
  top: 320px;
}

.absolute_left {
  top: 100px;
  background-color: transparent;
}
