// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mygray: #616161;

#div_cart {
  padding-left: 10%; padding-right: 10%;
  
  #tbl_cart {
  
    background-color: white;
    border-bottom: 1px solid lightgrey;
    
    th > div{
      text-align: center;
    }
  
    th {
      font-size: 12px;
    }
    & td {
      min-width: 100px;
      .img_wrapper {
        img {
          width: 100px; 
          height: 70px;         
          border-radius: 5px;
        }
      }    
    }
    & .title {
        color: darkred;
        font-weight: bold;
        font-size: 14px;
        text-align:left!important;
        padding-left: 10px!important;
        max-width: 120px!important;
    }
    .desc {
      display: none;
    }
    .size, .qty {
      color: $mygray;
      font-size: 12px;
    }
    
    .price {
      font-weight: bold;
    }  
    
    table div label {
      font-size: 12px;
      color: $mygray;
    }
    
    .checkbox {
      padding: 0;
      margin: 0;
    }
    
  }
  
  span.glyphicon-remove:hover {
    color: red;
    cursor: pointer;
  }
  
  #table_calc {
    margin: 10px;    
    
    div{
      margin: 5px;
    }
    td:first-child div {
      font-size: 12px;
      padding-right: 30px;
      color: $mygray;
    }
    td:last-child div{
      font-weight: bold;
      padding-left: 30px;
    }
  }
  .tbl_wrapper {
    width: 250px;
    background-color: white;
    color: black;
    float: right;
    border-radius: 5px;
  }
 
}




