
// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mygray: #616161;

  .result_wrapper {
    border-bottom: 1px solid lightgrey; padding-top: 10px;
    .sub_caption {
      color: darkred; font-weight: bold; font-size: 16px; text-decoration: underline;
    }
  }
  .result_wrapper:last-child {
    border-bottom: none;    
  }
  
.cat_wrapper {
  padding: 0 10%;
  .item {
    & > div {
      display: inline-block;
      text-align: center;
      padding-bottom: 40px;

      .item_wrapper {      
        display: inline-block;
        background-color: white;    
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
        min-width: 170px;
        max-width: 180px;
        .title {
          font-size: 14px;
          font-weight: bold;
          color: darkred;
        }
        
        .price_wrapper {
          font-size: 12px;
          font-weight: bold;
        }
        
        .size_wrapper {
          table {
            width: 100%;
          }
          .glyphicon-info-sign {
            display: none;
          }
        }

        .img_wrapper {
          width: 150px;
          img {
            width: 150px;
            height: 100px;
            border-radius: 5px;
          }
          
          .detail_wrapper {
            visibility: hidden;
            opacity:0;
            transition:visibility 0s linear 0.5s,opacity 0.5s linear;
            position: absolute; width: 150px; 
            margin-top: 70px; padding: 5px;
            background-color: rgb(255, 255, 255);
            /* RGBa with 0.6 opacity */
            background-color: rgba(255, 255, 255, 0.8);
            /* For IE 5.5 - 7*/
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            /* For IE 8*/
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            a {
              color: black;
              font-weight: bold;
              font-size: 13px;
              text-decoration: none;
            }
          }
        }
        .img_wrapper:hover {
          .detail_wrapper {
            visibility:visible;
            opacity:1;
            transition-delay:0s;
          }          
        }
     .btn_wrapper {
          text-align: right;
          margin-top: 15px;
          border-top: 1px solid #ccc;
          padding-top: 10px;
          
          span {
            color: darkred;
            font-size: 20px;
          }
        }
        .desc {
          display: none;
        }

        & > div {
          padding-top: 5px;
        }
      }
    }
  }

}

.modal {
  text-align: center;
  
  .error_wrapper {
    font-family: Arial, Helvetica, sans-serif; font-size: 14px;
  }
  
  .caption {
    padding: 5px;
    color: darkred; font-size: 20px!important; font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }
  .modal-title {
    color: darkred;
    font-weight: bold;
    margin-bottom: 10px;
    label {
      font-size: 12px;
      color: $mygray;
      font-weight: normal;
    }    
  }
  .ext_name {
    color: darkred;
    font-size: 12px;
  }
  .ext_price label {
    font-size: 12px;
    font-weight: bold;
  }
  
  .btn_addtocart {
    background-color: darkred;
    color: white;
    &:hover {
      color: white!important;
    }
  }
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
}

#myModal .modal-header {
  color: darkred;
}

.extra_wrapper {
  max-width: 530px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}