/*
// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

$mybrown: #7B480D;
$myyellow: #FBEFB5;
$mygray: #616161;

.order_wrapper {

  form {
    margin-top: 20px;
    padding-left: 30px; 
    padding-right: 30px;
    
     div.border {
      min-width: 600px;
      border: 1px solid lightgrey;
      text-align: center;
      background-color: white;
      .chng_address {
        position: absolute; right: 25px;
        top: 40px;
      }  
    }
    
    .checkout_wrapper {
      padding-top: 0!important;
      padding: 10px;
      
      #table_info {     
        margin-top: 10px; 
        td:first-child {
          width: 40%;
          color: $mygray;
        }
        td {
          padding-left: 20px;
          padding-bottom: 20px; 
        }
      }
      
      .com_title {
        color: $mygray;
      }    
      .comment {
        text-align: center;
        padding: 20px;
        textarea {
          width: 100%;
        }
      }

      .del_wrapper {
        padding: 10px;

        table {
          width: 100%;
          td {
              & > div > label {
              color: $mygray;
            }
          }
          td:first-child {
            border-right: 1px solid lightgrey;
          }
          td:last-child {
            padding-top: 30px;
          }
        }
        select {
          width: 100px;
        }
      
      }
      .payment_wrapper {
        padding: 20px;      
        & > div:first-child {
          margin-bottom: 10px; padding-left: 20px;
          color: $mygray;
        }
      
        .radio_active{
          background-color: #D9EDF7;
          border: 1px solid #31708F;
          border-radius: 5px;
        }
        .radio_wrapper {
          padding: 5px;
          padding-top: 15px;
          cursor: pointer;
          input {
            display: none;
          }
        }
      }
    }
    .order_wrapper {
      min-width: 500px;
      .border {
        min-width: 500px !important;
        #side_cart {
          td {
            text-align: left;
          }
          
          .size {
            font-size: 12px;
          }
          .price {
            font-weight: bold;
            font-size: 12px;
          } 
         
          td:first-child {
            text-align: left; min-width: 200px;
            .title {
              font-weight: bold;
            }
          }
        }
      }
    }
    .card_wrapper {
      padding: 20px;
      display: none;
      label {
        font-size: 12px;
        color: $mygray;
        font-weight: normal;
       }
      .card {
        margin: 0;
        text-align: left;
        display: inline;
       
        &:first-child {
          text-align: left;
        }
        &:nth-child(2){
          text-align: right;
        }
        .form-control {
          display: inline;   
          margin: 0;                       
        }
         #card_card_expires_on_1i {
            width: 40%;
            float: left;
        }
        #card_card_expires_on_2i {
          width: 55%;
          float: right;
        } 
      }
    }
  }       
}
    
div.right {
  text-align: right;
}

div.left {
  text-align: left;
}

.hidden {
  display: none;
}

#side_cart {
  min-width: 500px;
  th {
    font-size: 12px;
    font-weight: normal;
    color: $mygray;
  }
  
  td {
    text-align: left;
    max-width: 30px !important;
  }
  
  .ext_wrapper {
    font-size: 12px; 
    min-width: 200px;
    color: $mygray;
  }
}

#tbl_calc2 {
  width: 100%;
  border-top: 1px solid lightgrey;  
  font-size: 13px;
  td:first-child {
    padding: 5px;
    text-align: left;
    padding-left: 10px;
    color: $mygray;
  }
  td:last-child {
    padding: 5px;
    padding-right: 10px;
    text-align: right;
  }
  tr:last-child  {
    font-weight: bold;
  }
}
@media print
{
body * { visibility: hidden; }
.receipt_wrapper * { visibility: visible; }
.receipt_wrapper { position: absolute; top: 20px;}
}
.print_wrapper {
  padding-left: 20%; padding-right: 20%; min-width: 900px;
  text-align: right;
}
.receipt_wrapper {
  padding-left: 20%; padding-right: 20%; min-width: 900px;
  
  .bg-white {
    min-width: 600px;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 5px;
  }
  .sub_caption {
    font-size: 20px; margin-bottom: 20px;
  }
  
  table.receipt_info {
    
    min-width: 600px;
    margin-bottom: 20px;
    font-size: 13px;
    td > div{
      text-align: left;
      color: #000;
    }
    td:first-child div {
      font-weight: bold;
    }
    tr{
     width: 120px;
    }
  }

  .address_wrapper {
    border-top: 1px solid grey;    
    padding-top: 20px;
    margin-bottom: 20px;
    table {
      width: 100%;
      td:first-child {
        border-right: 1px solid $mygray;
      }
      td {
        & div:nth-child(2){
          font-size: 13px;
        }
      }
    }
   
  }
}

#side_cart {
 .receipt_ext_wrapper {
    font-size: 12px; width: 250px;
    color: $mygray;
  }
  .price {
    font-weight: bold;
    font-size: 12px;
  }
  .size {
    font-size: 12px;
  }
}

.orders_wrapper {
  padding-left: 10%; 
  padding-right: 10%; 
  text-align: center;
  .order_menu_wrapper {
     min-width: 250px;
     
     .order_menu {
        background-color: white;
        margin-bottom: 5px;
        padding: 10px;
        min-width: 200px;
        font-weight: normal;
        border: 1px solid lightgrey;
        border-radius: 5px;
        margin-bottom: 5px;
        font-size: 13px;
        cursor: pointer;
        .row > div:last-child{
          font-weight: bold;
        }
       .span_wrapper {
         text-align: center;         
         padding: 0 !important; text-align: left;
         padding-top: 10px!important;
       }
     }
  }
  .order_detail_wrapper {

    .border {
      min-width: 500px;
      background-color: white;
    }
    .btn {
      margin-top: 10px;
      float: right;
    }  
  }  
}


div.active_div {
  background-color: #D9EDF7!important;
  border: 1px solid #31708F!important;
  border-radius: 5px;  
  font-weight: bold;
}
  

label.sub_caption {
  font-weight: bolder;
  font-size: 16px;
}

