// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
  border-radius: 5px;
  background-color: white;
  & > table {
    width: 100%;    
    border: 1px solid lightgrey;
    border-radius: 5px;

    td {
     
      .img_wrapper {
        width: 150px;
        img {
          width: 150px;
          height: 100px;
        }
        .detail_wrapper {
          visibility: hidden;
          opacity:0;
          transition:visibility 0s linear 0.5s,opacity 0.5s linear;
          position: absolute; width: 150px; 
          margin-top: 70px; padding: 5px;
          background-color: rgb(255, 255, 255);
          /* RGBa with 0.6 opacity */
          background-color: rgba(255, 255, 255, 0.8);
          /* For IE 5.5 - 7*/
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
          /* For IE 8*/
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
          a {
            color: black;
            font-weight: bold;
            font-size: 13px;
            text-decoration: none;
          }
        }
        &:hover {
          .detail_wrapper {
            visibility:visible;
            opacity:1;
            transition-delay:0s;
          }          
        }
      }
      
      .title {
        font-size: 14px;
        font-weight: bold;
        color: darkred;
        text-align: left;
      }
      
      .price_wrapper {
        font-size: 13px;
        font-weight: bold;
      }
      
      .size_wrapper {
        .glyphicon-info-sign {
          display: none;
        }
      }
      .desc {
        display: none;
      }
      
     .btn_wrapper {        
        .btn {
          background-color: darkred;
          color: white!important;
        }
        a {
          color: white!important;
        }
        span {
          color: white;
        }
      }
    }
  }
}

