// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mygray: #616161;

.checkbox {
  margin-top: -10px;
  margin-bottom: 20px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

form {
  min-width: 800px;
 
}

form .control-label {
  font-size: 12px;
  font-weight: 100 !important;
  color: $mygray;
}

.error_wrapper {
  width: 100%;
  text-align: center;
}

.error_inner {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
