// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mygray: #616161;


.new_wrapper {
  border-right: 1px solid lightgray;
  .larger {
    img {
      width: 150px;
    }
  }
  .new_content {
    background-color: white; padding: 20px; border: 1px solid lightgrey; border-radius: 5px;
    table {
      width: 100%;
      td {
        padding: 5px;
        
        .img_wrapper {
          img {
            width: 200px; border-radius: 5px;
          }         
        }
        .body {
           text-align: left!important; 
           .title {
             font-weight: bold; color: $mygray;
           }
        }
      }
    }
  }
}
.special_wrapper {
   min-width: 300px!important;
   margin-bottom: 10px;
    .larger:first-child {
      img {
        width: 143px;
      }
    }
    .larger{
      img#coupon {
        width: 120px!important;  margin-top: 20px;
      }
    }
   .special_content {
     max-width: 300px!important;
     min-width: 280px;
     text-align: left; background-color: white; padding: 20px; border: 1px solid lightgrey; border-radius: 5px;
     margin-bottom: 70px;
     & .body {
       color: $mygray;
     }
    .img_wrapper {
      position: absolute;
      left: 160px;
      top: 170px;
      -ms-transform: rotate(-15deg); /* IE 9 */
      -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
      transform: rotate(-15deg);
      img {
        width: 150px; border-radius: 5px;
      }
    }   
  } 
 .sci_wrapper {
    position: absolute; top: 25px; left: 10px;
    img {
      width: 30px;
    }
  }
  .coupon_wrapper {
    max-width: 300px!important;
    min-width: 280px;
    border: 1px dashed black; max-width: 300px!important; padding: 5px; background-color: white; text-align: left;
    table{
      width: 100%;
      td {
        .img_wrapper {
          img {
            width: 100px;
          }
        }
        .coupon_content {
          padding: 5px;
          p:first-child {
            font-weight: bold; font-size: 20px;
          }
          span {
            color: $mygray;
          }
          p:last-child {
            font-weight: bold; font-size: 20px; margin-top: 5px;
          }
        }
      }
    }
    p.small{
      text-align: center; color: $mygray;
    }
  }
}

.address {
  min-width: 300px!important;
  border-left: 1px solid lightgray;
  .larger {
    img {
      width: 70px;
    }
  }
  .address_content {
      max-width: 300px;
      min-width: 280px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 5px;
  }
}

.address .row {
  padding: 10px !important;
  color: #616161;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.address .row .glyphicon {
  padding-right: 10px;
}

#map_canvas {
  width: 100%;
  height: 250px;
}

.contact_wrapper {
  text-align: left;
  
  .btn {
     width: 100px;
   }
   
  .input_wrapper {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    input {
      outline: none;
      border: none;
    }
    input:focus {
      outline: none;
      border: none;
    }
    
   input:required {
      box-shadow:none;
   }
   input:invalid {
      box-shadow: none;
   }
    textarea {
      width: 100%;
      border: none;
      outline: none;
   }
   
   span {
     font-weight: bold;
      color: $mygray;
   }
   
  }
 
}

.thank_wrapper {
  margin-top: 20px;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  
  text-align: center;
  background-color: #D9EDF7;
  border: 1px solid #31708F;
  border-radius: 5px;
  p {
    color: #31708F;
  }  
}
