// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mygray: #616161;

.account_wrapper {
  padding: 0 10%;
  .btn_wrapper {
    text-align: center;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
}
div.div_border {
  padding: 10px;
  text-align: left;
  font-weight: normal;
  background-color: white;
  color: #000;
  border: 1px solid lightgrey;
}


span.glyphicon-plus-sign {
  position: absolute;
  top: -5px;
}

.gravatar {
  border-radius: 5px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 20px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

table#info {
  width: 100%;
  td {
    padding-left: 20px;
    text-align: left;
  }
}

.modal_form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}