<div class="cat_wrapper" >
	<% if @products.size > 0 %>
	<div class="row posts">
		<% modal_name = @category_name + "_modal"%>

		<% @products.reverse.each do |product| %>
		<div class="item">
			<div class="col-sm-3">
				<div class="item_wrapper">
					<div class="img_wrapper">
						<div class="detail_wrapper">
							<a href='#' data-img=<%= product.image.url(:original)%> data-toggle="modal" data-target="#imgModal" class='btn_img_detail'> <span class="glyphicon glyphicon-eye-open"></span> View Details </a>
						</div>
						<%= image_tag product.image.url(:large), :alt => 'product'%>
					</div>
					<div class="title">
						<%= product.name %>
					</div>
					<div class="price_wrapper">
						<% prices = Array.new %>
						<% if product.product_details.size() > 0 %>

						<%product.product_details.each do |detail|%>
						<% prices.push(detail.price)%>
						<% end %>
						<% end %>

						<% prices = prices.sort%>
						<% if prices.size() > 1 %>
						$<%= prices.at(0)%> - $<%= prices.at(prices.size()-1)%>
						<% else%>
						$<%= prices.at(0)%>
						<% end %>
					</div>
					<div class="size_wrapper">
						<table>
							<tbody>
								<tr>
									<td>
									<select>
										<% if product.product_details.size() > 0 %>
										<option selected="true" disabled="true">select size</option>

										<%product.product_details.each do |detail|%>
										<% prices.push(detail.price)%>

										<% if detail.size.nil? %>
										<option value="<%= detail.price%>" data-id=<%= detail.id%> >one size</option>
										<% else%>
										<option value="<%= detail.price%>" data-id=<%= detail.id%> ><%= detail.size.name %></option>
										<% end %>
										<% end %>
										<% else %>
										<option selected="true" disabled="true">select size</option>
										<% end %>
									</select></td>
									<td><span class="glyphicon glyphicon-info-sign text-danger"></span></td>
								</tr>
							</tbody>

						</table>
					</div>
					<div class="desc">
						<%= product.desc %>
					</div>
					<div class="btn_wrapper">
						<a  href="#" data-modal=<%= modal_name%> data-name=<%= product.name%> data-toggle="modal" class="cart_modal"> <span class="glyphicon glyphicon-share-alt"></span> <span class="glyphicon glyphicon-shopping-cart"></span> </a>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<%= render 'shared/image_modal'%>

	<!-- Modal -->
	<div id=<%= modal_name%> class="modal fade cart_modal" role="dialog" style="font-size: 16px; font-weight: normal; color: #000;">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body" style="padding:10px">
					<button type="button" class="close" style="margin: 5px; margin-right: 10px">
						&times;
					</button>
					<div id="hidden_values" hidden>
						<div class='detail_id'></div>
						<div class="detail_name"></div>
						<div class="detail_img"></div>
						<div class="detail_price"></div>
						<div class="detail_size"></div>
					</div>
					<div class="error_wrapper" hidden>
						<div class="error_inner bg-danger text-danger" style="width: 100%">
							<span class="glyphicon glyphicon-info-sign"> Please enter valid quantity.
						</div>
					</div>
					<form class="form-horizontal" role="form" style="text-align: left; margin-left: 30px; margin-right: 30px; margin-top: 20px">
						<div class="modal-title"></div>
						<div class="form-group">
							<label class="col-sm-1 control-label" for='qty' style="text-align: right; color: $mygray; font-size: 14px">Qty:</label>
							<div class="col-sm-11" style="text-align: right">
								<input type="number" name='qty' id='qty' value='1' class="form-control" style='width: 70px'/>
							</div>
						</div>
						<% if @extraproducts.size() > 0 %>
						<div class="form-group extra_wrapper">
							<% @extraproducts.each do|extra|%>
							<div class="row checkbox">
								<div class="col-sm-1 right">
									<input type="checkbox" class="ch_extra" name="ch_extra" data-id=<%= extra.id%>/>
								</div>
								<div class="col-sm-9 left ext_name">
									<label> <%= extra.name %> </label>
								</div>
								<div class="col-sm-2 left ext_price">
									<label> $<%= extra.price %> </label>
								</div>
							</div>
							<% end %>
						</div>
						<% end %>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn_addtocart">
						Add To Cart
					</button>
				</div>
			</div>

		</div>
	</div>

	<% else %>
	No Item Yet.
	<% end %>
</div>