<% if @categories.size() > 0%>
<% @categories.each do |category|%>
<% @category_name = category[:cat_name]%>
<div class="result_wrapper">
	<% @name=category[:cat_name]%>
	<label class="sub_caption"><%= @name%></label>

	<% @products = category[:products]%>
	<% @extraproducts = category[:extra_products]%>
	<%= render 'show'%>
</div>
<% end %>
<% else %>
No result
<% end %>
